<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dobros</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <div class="container">
        <h3>Dobros</h3>
        <div class="Dobros">
            <p>O resultado é:</p>
            <p><%= dobros %></p>
        </div>
    </div>
</body>
</html>
